## Training the model for demand and Recomendation for the price

In [1]:
# Importing of libs 
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, mean_squared_error
import joblib 
from sklearn.preprocessing import StandardScaler

In [2]:
# load data 
df = pd.read_csv("C:/Users/PAUL/Desktop/PriceFlex/data/preprocessed/processed_data.csv")

df

,StoreID,ProductID,Date,Sales,Customers,Promo,StateHoliday,SchoolHoliday,day_of_week,hour_of_day,Demand,CompetitorPrice
0,52,959,11/12/2024,71.02,96,0,0,0,1,0,55.10200,251.938356
1,93,717,9/3/2024,673.91,39,0,0,0,1,0,86.89100,251.938356
2,15,641,1/5/2024,786.28,10,0,0,0,4,0,83.62800,251.938356
3,72,361,7/10/2024,496.63,97,0,0,0,2,0,98.16300,251.938356
4,61,539,7/16/2024,787.65,18,1,0,0,1,0,105.31800,251.938356
...,...,...,...,...,...,...,...,...,...,...,...,...
199995,42,434,10/18/2024,205.22,34,1,0,0,4,0,45.02640,251.938356
199996,11,74,9/27/2024,497.40,41,1,0,0,4,0,84.28800,251.938356
199997,71,414,9/17/2024,898.46,97,1,0,1,1,0,149.41368,251.938356
199998,54,570,8/16/2024,440.24,31,0,0,0,4,0,59.52400,251.938356
199999,14,400,5/30/2024,174.87,99,0,0,0,3,0,66.98700,251.938356

In [3]:
#demand_threshold = sales_data['Demand'].mean()

df.columns

Index(['StoreID', 'ProductID', 'Date', 'Sales', 'Customers', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'day_of_week', 'hour_of_day', 'Demand',
       'CompetitorPrice'],
      dtype='object')

In [21]:
#sales_data['HighDemand'] = (sales_data['Demand'] >= demand_threshold).astype(int)

In [6]:
X = df[['Sales', 'CompetitorPrice', 'day_of_week', 'hour_of_day']]
y = df['Demand']
X

         Sales  CompetitorPrice  day_of_week  hour_of_day
0        71.02       251.938356            1            0
1       673.91       251.938356            1            0
2       786.28       251.938356            4            0
3       496.63       251.938356            2            0
4       787.65       251.938356            1            0
...        ...              ...          ...          ...
199995  205.22       251.938356            4            0
199996  497.40       251.938356            4            0
199997  898.46       251.938356            1            0
199998  440.24       251.938356            4            0
199999  174.87       251.938356            3            0

[200000 rows x 4 columns]

In [11]:

# # Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print(X_train.shape)

(140000, 4)

In [20]:
scalar = StandardScaler()

scaled_X = scalar.fit_transform(X_train,y_train)

X_train = scaled_X
X_train

array([[-1.40844139e+00,  4.72281780e-05, -4.95373848e-01,
         0.00000000e+00],
       [-1.65836424e+00,  4.72281780e-05,  1.00363921e+00,
         0.00000000e+00],
       [-4.86837748e-01, -1.00966511e+00, -1.49471589e+00,
         0.00000000e+00],
       ...,
       [ 1.44135872e+00, -1.10213788e+00, -1.49471589e+00,
         0.00000000e+00],
       [ 1.31818396e+00,  4.72281780e-05,  1.50331023e+00,
         0.00000000e+00],
       [ 7.46171027e-01, -9.43852837e-01, -1.49471589e+00,
         0.00000000e+00]])

In [23]:

# # Train a demand forecasting model using sklearn
model = LinearRegression()
model.fit(X_train, y_train)

# # Predict using the model
y_pred_demand = model.predict(X_test)


# Running through a grid search

C:\Users\PAUL\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

In [7]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score